<div class="container bg-secondary text-white text-center p-2 rounded shadow">
  <h1>Welcome to the Authentication App</h1>
  <hr>
  <p>Explore this authentication system and enjoy!</p>

  <div><%= link_to 'Sign Up Now!', sign_up_path, class:"btn btn-primary btn-lg m-3" unless Current.user %></div>
</div>